body{
  margin: 0 auto;
  background-color: rgb(35, 34, 49);
  color: #fff;
  font-family: 'serif';
  min-height: 100vh;
  max-height: 100vh;
  width: 100%;
}


.noise{
  z-index: 100;
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100vw;
  max-height: 100vh;
  width: 100%;
  height: 100%;
  pointer-events: none;
  opacity: 0.3;
}



.container{
  /* width: 1400px; */
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
}



header{
  font-family: 'Poppins', 'sans-serif';
  align-items: baseline;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 50px 0;
}


header h3{
  margin: 0;
}


a{
  text-decoration: none;
  color: #fff;

}

a:hover{
  background: rgb(0, 29, 218);
  /* transition: width 0.2s ease-in-out, background-color 0.2s linear; */
}

/* 
header a:hover:after{
  background: rgb(0, 29, 218);
  transition: width 0.2s ease-in-out, background-color 0.2s linear; 
  display: block;
  content: '';
  height: 10px;
  /* bottom: 10px; 
  /* left: 0; */
  /* width: 100%;   
  z-index: -1;
} */




.content{
  max-width: 100%;
  padding-top: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}


/* .content .heading{
  width: 100%;
} */

h1{
  margin: 0;
  font-size: 3rem;
  line-height: 1.4em;
  font-weight: bold;
  /* width: 100%; */
}



.content .work .status{
  font-family: 'Poppins', 'sans-serif';
  color: #afafaf;
  font-weight: 600;
  letter-spacing: 0.2rem;
}

.content .work .description{
  font-size: 2rem;
  line-height: 1.5em;
}




footer{
  position: absolute;
  bottom: 0;
  left: 0;
}

footer p{
  padding: 50px 0;
  font-family: 'Poppins', 'sans-serif';
  font-weight: 600;
  font-size: 2em;
  margin:0;
}






/* MEDIA QUERIE */

 @media only screen and (max-width: 1440px){
  .container{
    max-width: 1100px;
  }
}

@media only screen and (max-width: 1366px){
  .content{
    padding-top: 120px;
  }
}

@media only screen and (max-width: 1024px){

  header{
    padding: 40px;
  }

  .content .work{
    padding: 40px 0 0 50%;

  }

  .content{
    padding: 40px;
  }


  .content .work .description{
    font-size: 1.5rem;
    max-width: 400px;
  }

  .content .heading{
    /* font-size: 0.8em; */
    width: 100%;
  }

  .content h1{
    font-size: 2.5rem;
  }

  footer p{
    padding: 40px;
    font-size: 1.5rem;
  }

  .work{
    width: 100%;
  }


}

@media only screen and (max-width: 768px){
  .content .work{
    padding-left: 0;
  }
}


@media only screen and (max-width: 640px){
  header{
    padding: 30px;
    display: block;
  }

  .content{
    padding: 20px 30px 0;
  }

  .content h1{
    font-size: 1.5rem;
    font-weight: 400;
  }

  .content .work .status{
    font-weight: 600;
    font-size: 0.8em;
    letter-spacing: 0.1rem;
  }

  .content .work .description{
    font-size: 1.2rem;
  }

  footer p{
    padding: 30px;
    font-size: 0.8rem;
  }

  header .info-mail{
    font-size: 0.8rem;
  }

  footer{
    position: relative;
  }

}
